@import '~normalize.css/normalize.css';
@import '~@amber-ds/visual/src/vars.scss';
@import '~@amber-ds/visual/src/mixins.scss';
@import '~@amber-ds/visual/src/typography/index.scss';

button {
  margin-bottom: 1rem;
  border: 1px solid transparent;  
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 2.5rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  //transition: all .2s ease;

  &:focus, &:hover {
    text-decoration: none;
  }

  // Primary

  &.primary {
    background: $orange-500;
    border-color: $orange-500;
    color: $white;

    &:hover:not([disabled]) {
      background: $orange-700;
      border-color: $orange-700;
    }

    &.success {
      background: $success-700;
      border-color: $success-700;

      &:hover:not([disabled]) {
        background: $success-900;
        border-color: $success-900;
      }
    }

    &.error {
      background: $error-700;
      border-color: $error-700;

      &:hover:not([disabled]) {
        background: $error-900;
        border-color: $error-900;
      }
    }
    
  }

  // Secondary

  &.secondary {
    background: transparent;
    border-color: $orange-500;
    color: $orange-500;
  
  
    &:hover:not([disabled]) {
      background: $orange-700;
      border-color: $orange-700;
      color: $white;
    }

    &.success {
      border-color: $success-700;
      color: $success-700;
  
      &:hover:not([disabled]) {
        background: $success-900;
        border-color: $success-900;
      }
    }
  
    &.error {
      border-color: $error-700;
      color: $error-700;
  
      &:hover:not([disabled]) {
        background: $error-900;
        border-color: $error-900;
      }
    }
  }

  // Tertiary

  &.tertiary {
    background: transparent;
    border-color: transparent;
    color: $orange-500;
  
  
    &:hover:not([disabled]) {
      color: $orange-700;
    }

    &.success {
      color: $success-700;
  
      &:hover:not([disabled]) {
        color: $success-900;
      }
    }
  
    &.error {
      color: $error-700;
  
      &:hover:not([disabled]) {
        color: $error-900;
      }
    }
  }

  // Fitted

  &.block {
    display: block;
    width: 100%;
  }

  // Progress

  &.progress {
    

  }

  // Disabled

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
  
}