
@import './vars.scss';

.container {
  margin: 40px auto;
  width: 90%;
  padding: 5px 40px 70px;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;

  .cover {
    width: 100%;
  }

  h1 {
    span {
      color: $primary;
    }
  }

  span.strong { 
    color: darken($primary, 15%);
    font-weight: 700;
    font-size: 1.1em;
  }

  hr{
    border: 0;
    border-bottom: 1px solid #bbb;
    margin: 20px 0;
  }
}