@import '~normalize.css/normalize.css';
@import '~@amber-ds/visual/src/_variables.scss';
@import '~@amber-ds/visual/src/_mixins.scss';
@import '~@amber-ds/visual/src/_base.scss';
@import '~@amber-ds/visual/src/_typography.scss';
@import '~@amber-ds/visual/src/_margins.scss';

article {
  // @include sans-serif;

  figure {
    margin: 0;

    img {
      width: 100%
    }
  }

  section {
    padding: 2rem;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    h6, h3, p {
      color: $grey-darker;
    }

    &.white {
      background: $white;
    }

    &.light {
      background: $grey-lighter;
    }
  }
}