@import '~normalize.css/normalize.css';
@import '~@amber-ds/visual/src/_variables.scss';
@import '~@amber-ds/visual/src/_mixins.scss';
@import '~@amber-ds/visual/src/_base.scss';
@import '~@amber-ds/visual/src/_typography.scss';

dialog {
  @include sans-serif;

  border: 0;
  padding: 2rem;
  border-top: 4px solid $grey-dark;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,.1);
  max-width: 80vw;
}

/* native backdrop */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

/* polyfill backdrop */

dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}