@import '~normalize.css/normalize.css';
@import '~@amber-ds/visual/src/_variables.scss';
@import '~@amber-ds/visual/src/_mixins.scss';
@import '~@amber-ds/visual/src/_base.scss';
@import '~@amber-ds/visual/src/_typography.scss';

section {
  @include sans-serif;

  border: 0;
  padding: 2rem;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-top: 4px solid $grey-dark;
  background: $white;

  .banner-header {
    margin-right: 1rem;
  }

  .banner-body {
    margin-right: 1rem;
  }

  .banner-footer {
    margin-left: auto;
    display: flex;
  }

  &[active] {
    // transform: translateY(100%);
    // transition: transform .3s cubic-bezier(.9,0,.3,.7);
  }

  &.info {
    background: $info-50;
    border-color: $info-700;
  }

  &.success {
    background: $success-50;
    border-color: $success-700;
  }

  &.warning {
    background: $warning-50;
    border-color: $warning-700;
  }

  &.error {
    background: $error-50;
    border-color: $error-700;
  }
}